<div [formGroup]="authForm" class="auth-form-container">
    <mat-form-field class="auth-form-field" appearance="outline">
        <mat-label>Имя пользователя</mat-label>
        <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field class="auth-form-field" appearance="outline">
        <mat-label>Пароль</mat-label>
        <input matInput formControlName="password" type="password">
    </mat-form-field>

    <div class="auth-form-controls">
        <button mat-flat-button (click)="login()" color="primary">Войти</button>

        <a mat-button routerLink="/auth/register">Зарегистрироваться</a>
    </div>
</div>
