:host {
    display: block;
    width: 420px;
    height: 240px;
}

.game-card {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .game-description {
        flex: 1;
    }

    .game-price-container {
        display: flex;
        flex-direction: row-reverse;

        .game-price {
            background: rgba(0,0,0,.06);
            border-radius: 4px;
            width: fit-content;
            height: 36px;
            padding: 0 12px;
            line-height: 36px;
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.game-card:hover {
    border: solid 1px #2532ff;
}

